/* Footer s odkazy */
.cv-footer {
  border-top: 2px solid #ccc;
  padding-top: 10px;
  text-align: center;
}

.cv-footer a {
  color: #000;
  padding: 2px 5px;
  text-decoration: none;
  font-weight: bold;
}

.cv-footer a:hover {
  cursor: pointer;
}
